{% extends "alper.html" %}
 {% block title %}Anthem Edit{% endblock %}
 {% block content %}
 <form action="{{ url_for('anthem_page') }}" method="post">
 <table>
 <tr>
 	<th>ID:</th><td><input class="textbox" type="text" name="id" required autofocus /></td>
 </tr>
 <tr>
 	<th>NAME:</th><td><input class="textbox" type="text" name="name"></td>
 </tr>
 <tr>
 	<th>LANGUAGE:</th><td><input class="textbox" type="text" name="language"></td>
 </tr>
 </table>
 <input class="button" value="Save Anthem" name="save" type="submit" />
 </form>
 {% endblock %}