{% extends "alper.html" %}
 {% block title %}Anthem List{% endblock %}
 {% block content %}
 <h2>Anthem List</h2>

<form action="{{ url_for('anthem_page') }}" method="post">
 <table>
 <thead><tr><th></th><th>id</th><th>name</th><th>language</th></tr></thead>
 {% for anthem in anthems %}
 <tr>
 	<td><input type="checkbox" name="anthems_to_delete" value="{{anthem.id}}" /></td>

 <a href="{{ url_for('anthem_page') }}"><td>{{ anthem.id }}</td><td>{{ anthem.name }}</td><td>{{anthem.language}}</td></a>

 </tr>
 {% endfor %}
 </table>
 <input class="button" type="submit" value="Delete Anthem" name="delete_anthem" />

 </form>

 {% endblock %}