{% extends "alper.html" %}
 {% block title %}Continent List{% endblock %}
 {% block content %}
 <h2>Continent List</h2>

<form action="{{ url_for('continent_page') }}" method="post">
 <table>
 <thead><tr><th></th><th>id</th><th>country</th><th>continent</th><th>language</th><th>anthem</th></tr></thead>
 {% for continent in continents %}
 <tr>
 	<td><input type="checkbox" name="continents_to_delete" value="{{continent.id}}" /></td>

 <a href="{{ url_for('continent_page') }}"><td>{{ continent.id }}</td><td>{{ continent.country }}</td><td>{{continent.continent}}</td><td>{{continent.language}}</td><td>{{continent.ant}}</td></a>

 </tr>
 {% endfor %}
 </table>
 <input class="button" type="submit" value="Delete Continent" name="delete_continent" />

 </form>

 {% endblock %}