{% extends "alper.html" %}
 {% block title %}Continent Update{% endblock %}
 {% block content %}
 <form action="{{ url_for('continent_update') }}" method="post">
 <table>
 <tr>
 	<th>ID:</th><td><input class="textbox" type="text" name="id" required autofocus /></td>
 </tr>
 <tr>
 	<th>COUNTRY:</th><td><input class="textbox" type="text" name="country"></td>
 </tr>
 <tr>
 	<th>CONTINENT:</th><td><input class="textbox" type="text" name="continent"></td>
 </tr>
 <tr>
 	<th>LANGUAGE:</th><td><input class="textbox" type="text" name="language"></td>
 </tr>
 </table>
 <input class="button" value="Update Continent" name="update" type="submit" />
 </form>
 {% endblock %}