{% extends "alper.html" %}
 {% block title %}Continent List{% endblock %}
 {% block content %}
 <h2>Continent List</h2>

<form action="{{ url_for('continent_page') }}" method="post">
 <table border="1" cellpadding="0" cellspacing="0">
 <thead><tr><th></th><th>id</th><th>country</th><th>continent</th><th>language</th></tr></thead>
 {% for continent in continents %}
 <tr>
 	<td width="50px"><input type="checkbox" name="continents_to_delete" value="{{continent.id}}" /></td>

 <a href="{{ url_for('continent_page') }}"><td width="100px">{{ continent.id }}</td><td width="150px">{{ continent.country }}</td><td width="150px">{{continent.continent}}</td><td width="150px">{{continent.language}}</td></a>

 </tr>
 {% endfor %}
 </table>
 <input type="submit" value="Delete Continent" name="delete_continent" />

 </form>

 {% endblock %}