<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
 	</head>

{% block title %} Athletes {% endblock %}

{% block content %}
  <h3> Athlete List </h3>
  <form action="{{ url_for('athlet_page') }}" method="post">
    <table>
    	{% for id_athlete, name,surname,country in AthletList %}
    	<tr>
    		<td><input type="checkbox" name="athletes_to_delete" value="{{ id_athlete }}" /></td>
    		<td>{{ id_athlete }}</td>
    		<td>{{ name }}</td>
    		<td>{{ surname }}</td>
    		<td>{{ country }}</td>
    	</tr>
    	{% endfor %}
    </table>
    <input type="submit" value="Delete Checked Values" name="Delete" />
  </form>
  </br>
  <form action="{{ url_for('athlet_page') }}" method="post">
    <table>
      <tr>
        <th>name:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
      <tr>
        <th>surname:</th>
        <td><input type="text" name="surname" required autofocus /> </td>
      </tr>
      <tr>
        <th>Country:</th>
        <td><input type="text" name="country" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Add Athlet" name="athletes_to_add"/>
  </form>
  </br>
  <form action="{{ url_for('athlet_page') }}" method="post">
    <table>
      <tr>
        <th>Athlete ID:</th>
        <td><input type="text" name="id_athlete" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Name:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Surname:</th>
        <td><input type="text" name="surname" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Update Athlet" name="athletes_to_update"/>
  </form>

  <!-- SEARCH -->

  <form action="{{ url_for('athlet_page') }}" method="post">
    <table>
      <tr>
        <th>NAME:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Search Athlet" name="athletes_to_search"/>
  </form>

<!-- search result -->

  <form action="{{ url_for('athlet_page') }}" method="post">
    <table>

    	{% for id_athlete, name,surname,country in SearchList %}
    	<tr>
    		<td>{{ id_athlete }}</td>
    		<td>{{ name }}</td>
    		<td>{{ surname }}</td>
    		<td>{{ country }}</td>
    	</tr>
    	{% endfor %}
    </table>
  </form>
{% endblock %}

</html>