
{% extends "layout.html" %}

{% block title %} Athletes {% endblock %}

{% block content %}
  <h3> Athlet List </h3>
  <form action="{{ url_for('athlet_page') }}" method="post">
    <table>
    	<tr>
    		<th>Delete</th>
    		<th>Athlet ID</th>
    		<th>Athlet Name</th>
    	</tr>

    	{% for id, name in AthletList %}
    	<tr>
    		<td><input type="checkbox" name="athletes_to_delete" value="{{ id }}" /></td>
    		<td>{{ id }}</td>
    		<td>{{ name }}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input type="submit" value="Delete Checked Values" name="Delete" />
  </form>
  </br>
  <form action="{{ url_for('athlet_page') }}" method="post">
    <table>
      <tr>
        <th>name:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
      <tr>
        <th>surname:</th>
        <td><input type="text" name="surname" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Add Athlet" name="athlets_to_add"/>
  </form>
  </br>
  <form action="{{ url_for('athlet_page') }}" method="post">
    <table>
      <tr>
        <th>Athlet ID:</th>
        <td><input type="text" name="id" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Name:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Surname:</th>
        <td><input type="text" name="surname" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Update Athlet" name="Athlets_to_update"/>
  </form>
{% endblock %}