{% extends "layout.html" %}

{% block title %} Comments {% endblock %}

{% block content %}
  <h3> Comment List </h3>
  <form action="{{ url_for('comment_page') }}" method="post">
    <table>
    	{% for id_comment, name,article,id_new in CommentList %}
    	<tr>
    		<td><input type="checkbox" name="comments_to_delete" value="{{ id_comment }}" /></td>
    		<td>{{ id_comment }}</td>
    		<td>{{ name }}</td>
    		<td>{{ article }}</td>
    		<td>{{ id_new }}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input type="submit" value="Delete Checked Values" name="Delete" />
  </form>
  </br>
  <form action="{{ url_for('comment_page') }}" method="post">
    <table>

    {% for id_new, title,content,country in NewList %}
    	<tr>
    		<td><input type="checkbox" name="comments_to_add" value="{{ id_new }}" /></td>
    		<td>{{ id_new }}</td>
    		<td>{{ title }}</td>
    		<td>{{ content }}</td>
    		<td>{{ country }}</td>
    	</tr>
    	{% endfor %}
      <tr>
        <th>name:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
      <tr>
        <th>Article:</th>
        <td><input type="text" name="article" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Add Comment" name="Add"/>
  </form>
  </br>
  <form action="{{ url_for('comment_page') }}" method="post">
    <table>
      <tr>
        <th>Comment ID:</th>
        <td><input type="text" name="id_comment" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Name:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Article:</th>
        <td><input type="text" name="article" required autofocus /> </td>
      </tr>

    </table>
    <input type="submit" value="Update Comment" name="comments_to_update"/>
  </form>

  <!-- SEARCH -->

  <form action="{{ url_for('comment_page') }}" method="post">
    <table>
      <tr>
        <th>NAME:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Search Comment" name="comments_to_search"/>
  </form>

<!-- search result -->

  <form action="{{ url_for('comment_page') }}" method="post">
    <table>
    	{% for id_comment, name,article,id_new in SearchList %}
    	<tr>
    		<td>{{ id_comment }}</td>
    		<td>{{ name }}</td>
    		<td>{{ article }}</td>
    		<td>{{ id_new }}</td>
    	</tr>
    	{% endfor %}
    </table>
  </form>
{% endblock %}