
<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8" />

{% block title %} Home Page {% endblock %}

{% block content %}

	<h1>Athletics Insight Homepage</h1>

	<h3>ADMİN GİRİŞİ</h3>

	<form action="{{ url_for('admin_page') }}" method="post">
    <table>
      <tr>
        <th>User Name:</th>
        <td><input type="text" name="username" /> </td>
      </tr>
      <tr>
        <th>Password:</th>
        <td><input type="text" name="password" /> </td>
      </tr>
    </table>
    <input type="submit" value="Enter" name="admin_to_control"/>
    </form>

	<h3>KULLANICI GİRİŞİ</h3>

	<form action="{{ url_for('user_page') }}" method="post">
    <table>
      <tr>
        <th>User Name:</th>
        <td><input type="text" name="username" /> </td>
      </tr>
      <tr>
        <th>Password:</th>
        <td><input type="text" name="password" /> </td>
      </tr>
    </table>
    <input type="submit" value="Enter" name="users_to_control"/>
  </form>

{% endblock %}
