<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8" />
<title>TeamsDB and UsersDB - {% block title %}{% endblock %}</title> <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
<header>

	<div id = "htext"> ITU DBMS - Group 01 Project </div>
    <nav>
     	<li><a href="{{ url_for('home_page') }}">Home</a></li>

		<div id = "window">
          <span>Samet Ayaltı</span>
          <ul>
            <li><a href="{{ url_for('team_page') }}">Teams(Add,Delete,Update)</a></li>
          </ul>
          <ul>
            <li><a href="{{ url_for('athlet_page') }}">Athletes(Add,Delete,Update)</a></li>
          </ul>
        </div>

        <div id = "window">
          <span>Burak Balta</span>
          <ul>
            <li><a href="{{ url_for('user_page') }}">Users(Add,Delete,Update)</a></li>
          </ul>
          <ul>
            <li><a href="{{ url_for('new_page') }}">News(Add,Delete,Update)</a></li>
          </ul>
        </div>

        <div id = "window">
          <span>Elif Aklan</span>
          <ul>
            <li><a href="{{ url_for('ticket_page') }}">tickets(Add,Delete,Update)</a></li>
          </ul>
          <ul>
            <li><a href="{{ url_for('fixture_page') }}">fixtures(Add,Delete,Update)</a></li>
          </ul>
          <ul>
            <li><a href="{{ url_for('competition_page') }}">competitions(Add,Delete,Update)</a></li>
          </ul>
        </div>

         <div id = "window">
          <span>Alper Çakıroğlu</span>

           <ul>
              <!--  <li><a href="/alper">Tablolar</a></li>  -->
			  <li><a href="{{ url_for('alper_tablo') }}">Tablolar</a></li>

           </ul>
        </div>

    </nav>
</header>
    {% block content %}{% endblock %}
<footer>
<div id="datetime">{{ current_time }}</div> </footer>
  </body>
</html>