{% extends "layout.html" %}

{% block title %} Teams {% endblock %}

{% block content %}
  <h3> Team List </h3>
  <form action="{{ url_for('team_page') }}" method="post">
    <table>
    	<tr>
    		<th>Delete</th>
    		<th>Team ID</th>
    		<th>Team Name</th>
    	</tr>

    	{% for id, country,continent in TeamList %}
    	<tr>
    		<td><input type="checkbox" name="teams_to_delete" value="{{ id }}" /></td>
    		<td>{{ id }}</td>
    		<td>{{ country }}</td>
    		<td>{{ continent }}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input type="submit" value="Delete Checked Values" name="Delete" />
  </form>
  </br>
  <form action="{{ url_for('team_page') }}" method="post">
    <table>
      <tr>
        <th>Country:</th>
        <td><input type="text" name="country" required autofocus /> </td>
      </tr>
      <tr>
        <th>Continent:</th>
        <td><input type="text" name="continent" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Add Team" name="teams_to_add"/>
  </form>
  </br>
  <form action="{{ url_for('team_page') }}" method="post">
    <table>
      <tr>
        <th>Team ID:</th>
        <td><input type="text" name="id" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Country:</th>
        <td><input type="text" name="country" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Continent:</th>
        <td><input type="text" name="continent" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Update Team" name="teams_to_update"/>
  </form>

  <!-- SEARCH -->

  <form action="{{ url_for('team_page') }}" method="post">
    <table>
      <tr>
        <th>NAME:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Search Team" name="teams_to_search"/>
  </form>

  <!-- search result -->

  <form action="{{ url_for('team_page') }}" method="post">
    <table>
    	<tr>
    		<th>Delete</th>
    		<th>Team ID</th>
    		<th>Team Name</th>
    	</tr>

    	{% for id, country,continent in SearchList %}
    	<tr>
    		<td>{{ id }}</td>
    		<td>{{ country }}</td>
    		<td>{{ continent }}</td>
    	</tr>
    	{% endfor %}
    </table>
  </form>

{% endblock %}