<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8" />

{% extends "layout.html" %}

{% block title %} Tickets {% endblock %}

{% block content %}
  <h3> Ticket List </h3>
  <form action="{{ url_for('ticket_page') }}" method="post">
    <table>
    	<tr>
    		<th>Delete</th>
    		<th>Ticket ID</th>
    		<th>Ticket Name</th>
    	</tr>

    	{% for id, name,surname in TicketList %}
    	<tr>
    		<td><input type="checkbox" name="tickets_to_delete" value="{{ id }}" /></td>
    		<td>{{ id }}</td>
    		<td>{{ name }}</td>
    		<td>{{ surname }}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input type="submit" value="Delete Checked Values" name="Delete" />
  </form>
  </br>
  <form action="{{ url_for('ticket_page') }}" method="post">
    <table>
      <tr>
        <th>name:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
      <tr>
        <th>surname:</th>
        <td><input type="text" name="surname" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Add Ticket" name="tickets_to_add"/>
  </form>
  </br>
  <form action="{{ url_for('ticket_page') }}" method="post">
    <table>
      <tr>
        <th>Ticket ID:</th>
        <td><input type="text" name="id" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Name:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Surname:</th>
        <td><input type="text" name="surname" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Update Ticket" name="tickets_to_update"/>
  </form>
{% endblock %}