<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
 	</head>
{% block title %} Users {% endblock %}

{% block content %}
  <h3> User List </h3>
  <form action="{{ url_for('user_page') }}" method="post">
    <table>
    	{% for id_user, user,password in UserList %}
    	<tr>
    		<td><input type="checkbox" name="users_to_delete" value="{{ id_user }}" /></td>
    		<td>{{ id_user }}</td>
    		<td>{{ user }}</td>
    		<td>{{ password }}</td>
    	</tr>
    	{% endfor %}

    </table>
    <input type="submit" value="Delete Checked Values" name="Delete" />
  </form>
  </br>
  <form action="{{ url_for('user_page') }}" method="post">
    <table>
      <tr>
        <th>User:</th>
        <td><input type="text" name="user" required autofocus /> </td>
      </tr>
      <tr>
        <th>Password:</th>
        <td><input type="text" name="password" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Add User" name="users_to_add"/>
  </form>
  </br>
  <form action="{{ url_for('user_page') }}" method="post">
    <table>
      <tr>
        <th>User ID:</th>
        <td><input type="text" name="id_user" required autofocus /> </td>
      </tr>
      <tr>
        <th>New user:</th>
        <td><input type="text" name="user" required autofocus /> </td>
      </tr>
      <tr>
        <th>New Password:</th>
        <td><input type="text" name="password" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Update User" name="users_to_update"/>
  </form>

  <!-- SEARCH -->

  <form action="{{ url_for('user_page') }}" method="post">
    <table>
      <tr>
        <th>NAME:</th>
        <td><input type="text" name="name" required autofocus /> </td>
      </tr>
    </table>
    <input type="submit" value="Search New" name="users_to_search"/>
  </form>

<!-- search result -->

  <form action="{{ url_for('user_page') }}" method="post">
    <table>
    	<tr>
    		<th>Delete</th>
    		<th>New ID</th>
    		<th>New User</th>
    	</tr>

    	{% for id_user, user,password in SearchList %}
    	<tr>
    		<td>{{ id_user }}</td>
    		<td>{{ user }}</td>
    		<td>{{ password }}</td>
    	</tr>
    	{% endfor %}
    </table>
  </form>


{% endblock %}

</html>